name: test_workflow

on: 
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'scripts/**/*'
      - 'test/**/*'
      - requirements.txt
      - '.github/**'
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Set up cache
        uses: actions/cache@v3
        with:
          paths: |
            ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt
      - name: Run tests
        run: |
          pytest --cov
