name: test_workflow

on: 
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'scripts/**/*'
      - 'test/**/*'
      - requirements.txt
      - '.github/**'
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Set up cache
        uses: actions/cache@v3
        with:
          paths: |
            ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: |
          export PYTHONPATH="${PYTHONPATH}:$(pwd)/scripts"
          pytest --cov
  
  deploy_job:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ vars.DOCKER_USERNAME }}/mlops-course-app:PULL-${{ github.event.number }}
      - name: Login to GCP 
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Deploy to GCP 
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: mlops-course-app
          image: ${{ vars.DOCKER_USERNAME }}/mlops-course-app:PULL-${{ github.event.number }}
          region: us-central1
          platform: managed
